.nav-bar {
  position: absolute;
  width: 100%;
  height: 125px;
  top: 0px;

  background: #D50000;
  border-radius: 0px 0px 17px 17px;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1298px;
  height: 100px;
  left: 42px;
  top: 12px;
}

.logo-home {
  /* Logo-home */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 26px 0px;

  position: static;
  width: 522px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #FF6D00;

  /* Inner-shadow-press-button */
  box-shadow: inset -1px -2px 4px rgba(0, 0, 0, 0.25), inset 7px 9px 7px rgba(0, 0, 0, 0.28);
  border-radius: 17px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 400px;
}

.nav-title {
  position: static;
  width: 398px;
  height: 21px;
  left: 110.5px;
  top: 39.5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 58%;

  /* identical to box height, or 21px */
  text-align: center;

  /* Color-white-text */
  color: #F8F8F2;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 21px;
}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 376px;
  height: 100px;
  right: 0px;
  top: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 400px;
}

.option {
  /* PQRSD */

  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;

  position: static;
  width: 60px;
  height: 100px;
  /* left: 316px; */
  top: 0px;

  border-radius: 17px;

  /* Inside Auto Layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 10px;
}