<div fxFlex fxLayout="column">
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" style="margin-bottom: 1rem;">

    <mat-card class="card">
      <div class="card-body">
        <ngb-carousel>
          <ng-container *ngFor="let item of carousel">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="item.imgUrl" alt="Random first slide" class="w-100" style="width: 100%; height: 50vh">
              </div>
              <div class="carousel-caption">
                <h3>{{item.title}}</h3>
                <p>{{item.body}}</p>
              </div>
            </ng-template>
          </ng-container>
        </ngb-carousel>
      </div>
    </mat-card>

    <div fxFlex fxLayoutAlign="space-around center" fxLayout="row" fxLayout.md="column" fxLayout.sm="column"
      fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.sm="2px" fxLayoutGap.xs="2px">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutGap.sm="2px"
        fxLayoutGap.xs="2px">
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutGap.sm="2px" fxLayoutGap.xs="2px">
          <mat-card class="custom-mat-card" style="background-color: #f31313">
            <mat-card-content fxLayoutAlign="center center">
              <img mat-card-image [src]="'/assets/img/others/fireman.svg'" style="width: 70%; height: auto;">
            </mat-card-content>
            <mat-card-title style="color: white;" fxLayoutAlign="center center">Bomberos</mat-card-title>
            <button mat-raised-button class="buttom-container" [style]="'background-color: #D50000'">5802288</button>
          </mat-card>

          <mat-card class="custom-mat-card" style="background-color: #388E3C">
            <mat-card-content fxLayoutAlign="center center">
              <img mat-card-image [src]="'/assets/img/others/policeman.svg'" style="width: 70%; height: auto;">
            </mat-card-content>
            <mat-card-title style="color: white;" fxLayoutAlign="center center">Policia</mat-card-title>
            <button mat-raised-button class="buttom-container" style="background-color: #00600F">5754780</button>
          </mat-card>
        </div>

        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutGap.sm="2px" fxLayoutGap.xs="2px">
          <mat-card class="custom-mat-card" style="background-color: #0277BD; max-width: 10rem;">
            <mat-card-content fxLayoutAlign="center center">
              <img mat-card-image [src]="'/assets/img/others/man-doctor.svg'" style="width: 70%; height: auto;">
            </mat-card-content>
            <mat-card-title style="color: white;" fxLayoutAlign="center center">Hospital local
            </mat-card-title>
            <button mat-raised-button class="buttom-container" style="background-color: #004C8C">5552170</button>
          </mat-card>

          <mat-card class="custom-mat-card" style="background-color: #EF6C00; max-width: 10rem;">
            <mat-card-content fxLayoutAlign="center center">
              <img mat-card-image [src]="'/assets/img/others/civil.svg'" style="width: 70%; height: auto;">
            </mat-card-content>
            <mat-card-title style="color: white;" fxLayoutAlign="center center">Defensa civil</mat-card-title>
            <button mat-raised-button class="buttom-container" style="background-color: #B53D00">144</button>
          </mat-card>
        </div>
      </div>

      <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="1rem" fxLayoutGap.sm="2px" fxLayoutGap.xs="0rem">
        <mat-card class="custom-mat-card" style="background-color: #A011FF">
          <mat-card-content fxLayoutAlign="center center">
            <img mat-card-image [src]="'/assets/img/others/sala-crisis.svg'" style="width: 60%; height: auto;">
          </mat-card-content>
          <mat-card-title style="color: white;" fxLayoutAlign="center center">Sala de crisis</mat-card-title>
          <button mat-raised-button class="buttom-container" style="background-color: #6800CA">3053623475</button>
        </mat-card>
      </div>

    </div>
  </div>

  <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around start">
    <div fxFlex="50" style="margin: 1rem;">
      <mat-card>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Administrativo">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

          </mat-tab>
          <mat-tab label="Operativo">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('https://bomberoslospatios.org/fotosbomberos/C-HernandezMarcos-Small.jpg');
                  background-size: cover;"></div>
                <mat-card-title>Marco David Hernández</mat-card-title>
                <mat-card-subtitle>Comandante</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <br>
    <div fxFlex="50" style="margin: 1rem;">
      <mat-card>hola</mat-card>
    </div>
  </div>
</div>

<!--
  <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
      <ng-container *ngFor="let item of dataCards0">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              {{item.title}}
            </mat-card-title>
            <mat-card-subtitle>
              {{item.subtitle}}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item.imgUrl">
          <mat-card-content>
            <p>
              {{item.body}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <ng-container *ngFor="let buton of item.buttons">
              <button mat-button>{{buton}}</button>
            </ng-container>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
      <ng-container *ngFor="let item of dataCards1">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>
              {{item.title}}
            </mat-card-title>
            <mat-card-subtitle>
              {{item.subtitle}}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item.imgUrl">
          <mat-card-content>
            <p>
              {{item.body}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <ng-container *ngFor="let buton of item.buttons">
              <button mat-button>{{buton}}</button>
            </ng-container>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div> -->