<footer style="background-color: rgb(187, 187, 187);">
  <div class="docs-footer-list" fxLayout.xs="column">
    <div class="docs-footer-logo">
      <div class="footer-logo" fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/img/logo/escudo_bomberos.png" alt="Angular icon" class="docs-footer-angular-logo" width="100"
          height="100">
        <span>Av. principal de Los Patios, Km 10</span>
      </div>
    </div>



    <div class="docs-footer-logo">
      <h2>
        <mat-icon mat-list-icon>contact_page</mat-icon>Contacto
      </h2>
      <div class="footer-logo">
        <a mat-button href="tel:6075802288">
          <mat-icon mat-list-icon>phone</mat-icon>
          607 5802288
        </a>
      </div>
      <div class="footer-logo">
        <a mat-button href="tel:3225168727">
          <mat-icon mat-list-icon>stay_primary_portrait</mat-icon>
          +57 3225168727
        </a>
      </div>
      <div class="footer-logo">
        <span>
          <a mat-button href="mailto:info@bomberoslospatios.org">
            <mat-icon mat-list-icon>mail</mat-icon>
            info@bomberoslospatios.org
          </a>
        </span>
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d7905.5051362046715!2d-72.516041!3d7.815995!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8e66462615f86e95%3A0x9f246db90a25d8f5!2sCuerpo%20de%20Bomberos%20de%20Los%20Patios%2C%2055%2C%20Los%20Patios%2C%20Norte%20de%20Santander!3m2!1d7.8160001999999995!2d-72.5160567!5e0!3m2!1ses-419!2sco!4v1619879336913!5m2!1ses-419!2sco"
      width="250" height="180" style="border: 1px;" allowfullscreen="" loading="lazy">
    </iframe>
  </div>



</footer>